.scan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80vw;

    .approvedLabel{
        position: relative;
        bottom: 17px;
        left: 100px;
        min-width: 30vw;
        padding: 0.5vh 0;
        border-radius: 5px;
        color: white;
        font-size: 15px;
        font-weight: 600;
        background-color: rgb(105, 204, 139);
        border: solid 2px rgb(105, 204, 139);
        width: 30%;
    }
    .approvedId{
        width: 250px;
        height: 150px;
        background-image: url("../images/driverLicense.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        margin-top: 2vh;
        border: solid 2px rgb(105, 204, 139);
        border-radius: 15px;
    }
    
    .rejectedLabel{
       position: relative;
       bottom: 17px;
       left: 100px;
       min-width: 30vw;
       padding: 0.5vh 0;
       border-radius: 5px;
       color: white;
       font-size: 15px;
       font-weight: 600;
       background-color: rgb(192, 0, 0);
       border: solid 2px rgb(192, 0, 0);
       width: 30%;
   }

   .rejectedId{
       width: 250px;
       height: 150px;
       background-image: url("../images/driverLicense.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       margin: 0 auto;
       margin-top: 2vh;
       border: solid 2px rgb(192, 0, 0);
       border-radius: 15px;
   }
   .rejectedButton{
        position: relative;
        bottom: 120px;
        padding: 1.5vh 5vw;
        border-radius: 30px;
        color: white;
        font-weight: 800;
        background-color: #2F0079;
        box-shadow: 0 10px 20px -5px rgba(47,0,121,0.3);
        border: none;
   }
}    

